<div ng-form="" class="form-horizontal  page-header container2">

    <legend>Cadastrar Produto</legend>

    <div class="form-group">
        <label class="col-md-4 control-label" for="nome">Nome</label>
        <div class="col-md-4">
            <input ng-model="produto.nome" type="text" placeholder="Ex: Leite" class="form-control input-md" required="true">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="marca">Marca</label>
        <div class="col-md-4">
            <input ng-model="produto.marca" type="text" placeholder="Ex: Itamber" class="form-control input-md" required="true">
        </div>
    </div>


    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="cod">Cod. Barra</label>
        <div class="col-md-4">
            <input ng-model="produto.codigo" type="number" placeholder="0123456789" class="form-control arruma-botao input-md" required="">

        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="setor">Setor</label>
        <div class="col-md-4">
            <input ng-model="produto.setor" type="text" placeholder="Frios" class="form-control input-md" required="">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="preco">Preço (R$)</label>
        <div class="col-md-4">
            <input ng-model="produto.preco" type="text" placeholder="5.00" class="form-control input-md" required="">

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="encate">Encarte do Produto</label>
        <div class="col-md-4">
            <!-- <input ng-model="produto.imagem" type="file" class="input-md arruma-botao" required=""> -->
            <input ng-model="produto.imagem" type="text" placeholder="http://" class="form-control input-md" required="">
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="salvar"></label>
        <div class="col-md-4">
            <button ng-disabled="true" class="btn btn-default">Cancelar</button>
            <button ng-click="salvar()" type="submit" class="btn btn-primary pull-right">Salvar</button>
        </div>
    </div>

    </fieldset>

</div>